@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

body  {
 margin: 0;
 font-family: "PT Sans",Arial,sans-serif;
 font-weight: 400;
 font-size: 14px;
 color: #333333;
 line-height: 26px;
 text-transform: uppercase;
 background-color: #f2f2f2;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

ul { margin: 0; }

figure { margin: 0; }

img { display: block; }

.container {
  width: 100%;
  margin: 0 auto;
  min-width: 768px;
  max-width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 5px 5px #dbdbdb;
}

.main-header {  min-height: 565px; }

.navigation ul { padding: 0; }

.navigation {
  position: relative;
  min-height: 57px;
  width: 100%;
}

.nav-index { min-height: 55px; }

.navigation li {
  float: left;
  width: 20%;
  margin-top: 14px;
  text-align: center;
  list-style: none;
}

.navigation li:nth-child(2) { margin-right: 21%; }

.navigation li:last-child { width: 19%}

.navigation a {
  font-size: 14px;
  font-weight: bold;
  font-family: "PT Sans";
  color: #000000;
  text-decoration: none;
}

.navigation a:hover { color: #81b3d2; }

.navigation a.active { color: #cacaca; }

.navigation a:active { color: #766357; }

.navigation a:hover:active { color: #604e43; }

.navigation a.active:active {  color: #dbd8d5; }

.logo {
  position: absolute;
  left: 44.2%;
  top: 0;
  z-index: 10;
}

.background {
  position: relative;
  min-height: 509px;
  padding-top: 1px;
  background: black url("../img/background.jpg") no-repeat center top;
}

.text {  margin: 77px auto 0 auto; }

.background::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 57px;
  background: url("../img/background-bottom.png");
}

.promo {
  min-height: 213px;
  padding-top: 1px;
  text-align: center;
}

.promo-title {
  margin-top: 59px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.promo-text {
  margin-top: 27px;
  margin-bottom: 0;
  font-family: "PT Sans";
  font-weight: 400;
  color: #333333;
}

.reasons-row {
  min-height: 257px;
  width: 100%;
}

.true {
  float: left;
  width: 33.3333333%;
  min-height: 257px;
  text-align: center;
  background-color: #81b3d2;
  color: white;
}

.true-title {
  margin-top: 55px;
  margin-bottom: 22px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.true-text {
  margin-top: 19px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.true-number {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.house {
  float: right;
  width: 66.6666666%;
  margin: 0;
}

.view { width: 100%; }

.reason {
  width: 33.33%;
  float: left;
  min-height: 330px;
  text-align: center;
}

.reason-title { margin-top: 28px; }

.reason-text {
  margin-top: 21px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.reason::before {
  content: " ";
  display: block;
  width: 33%;
  height: 71px;
  margin: 59px auto 0 auto;
  background-image: url("../img/sprite-full.png");
  background-repeat: no-repeat;
}

.reason-house::before {
  width: 74px;
  height: 72px;
  background-position: -10px -1218px;
}

.reason-gift::before {
  width: 74px;
  height: 73px;
  background-position: -4px -1123px;
}

.reason-food::before {
  width: 74px;
  height: 72px;
  background-position: -10px -1032px;
}

.bridge {
  margin: 0;
  float: left;
  width: 66.6666666%;
}

.invert { float: right; }

.clearfix::after {
  content: " ";
  display: block;
  width: 100%;
  height: ;
  clear: both;
}

.reason-grey {
  width: 33.33%;
  float: left;
  min-height: 257px;
  text-align: center;
  background-color: #eeeeee;
}

.reason-title-grey {
  margin-top: 46px;
  margin-bottom: 22px;
  line-height: 21px;
}

.reason-text-grey {
  margin-top: 19px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.reason-number-grey {
  margin-top: 24px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.intresting {
  position: relative;
  min-height: 288px;
  padding-top: 1px;
  text-align: center;
}

.interesting-title {
  margin-top: 52px;
  margin-bottom: 27px;
  font-size: 30px;
}

.interesting-text {
  margin-bottom: 45px;
  margin-top: 0;
}

.search {
  display: block;
  padding: 30px 0;
  width: 47.33%;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #766357;
  color: white;
}

.map {
  position: relative;
  height: 593px;
  background: #f2f1ef url("../img/map.jpg") no-repeat;
}

.map iframe {
  width: 100%;
}

.search-hotel {
  position: absolute;
  left: 26.3%;
  margin-right: -238px;
  top: 0;
  display: none;
  width: 568px;
  height: 395px;
  background-color: #ffffff;
}

.search-hotel-show {
  display: block;
}

.form-center {
  width: 81%;
  margin: 0 auto;
  margin-top: 54px;
  margin-bottom: 54px;
}

.form-row {
  position: relative;
  height: 38px;
  margin-bottom: 30px;
}

.calendar {
  position: absolute;
  right: 11px;
  top: 8px;
  width: 21px;
  height: 22px;
  background-image: url("../img/sprite-full.png");
  background-repeat: no-repeat;
  background-position: -10px -474px;
}

.calendar:hover {
  background-position: -10px -558px;
}

.calendar:active {
  background-position: -10px -516px;
}

input[type="text"] {
  float: right;
  width: 331px;
  height: 100%;
  margin-left: 19px;
  padding-left: 15px;
  background-color: #f2f2f2;
  border: none;
}

input[type="text"]:hover { background-color: #ebebeb; }

input[type="text"]:focus {
  outline: 2px solid #e5e5e5;
  background: #ffffff;
}

.date-text {
  position: relative;
  margin-top: 7px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans";
}

.number-row {
  width: 25%;
  float: left;
  text-align: center;
}

.number-row:first-child { text-align: left; }

.icon-plus {
  position: absolute;
  top: 3px;
  left: 130px;
  color: #a9a9a9;
}

.icon-plus:hover ,
.icon-minus:hover  { color: #000000; }

.icon-plus:active ,
.icon-minus:active { color: #81b3d2; }

.icon-minus {
  position: absolute;
  top: 3px;
  left: 200px;
  color: #a9a9a9;
}



input[type="number"] {
  width: 114px;
  margin-right: ;
  background-color: #f2f2f2;
  height: 100%;
  border: none;
}

input[type="number"]:hover { background-color: #ebebeb; }

input[type="number"]:focus {
  outline: 2px solid #e5e5e5;
  background: #ffffff;
}

.btn-search {
  width: 458px;
  height: 58px;
  margin-top: 23px;
  padding: 18px;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align : center;
  text-transform: uppercase;
  border: none;
  background-color:  #81b3d2;
}

.btn-search:hover { background-color: #669ec0; }

.btn-search:hover:active {
  background-color: #5496bd;
  color: #94b9d2;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 118px;
  background-color: #fefefe;
  opacity: 0.8;
}

.footer-content {
  position: relative;
  width: 33.333333%;
  min-height: 120px;
  float: left;
  text-align: center;
}

.footer-content .hashtag {
  display: block;
  margin-top: 45px;
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: black;
  text-decoration: none;
}

.social-block-icon {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 2px;
  margin-top: 36px;
  background-color: #81b3d2;
  background-image: url("../img/sprite-full.png");
  background-repeat: no-repeat;
}

.social-block-icon:hover { background-color: #669ec0; }

.tweeter { background-position: 5px -1329px; }

.tweeter:active {
  background-position: 5px -1364px;
  background-color: #5496bd;
}

.facebook {  background-position: 8px -753px; }

.facebook:active {
  background-position: 8px -792px;
  background-color: #5496bd;
}

.youtube { background-position: 3px -1437px; }

.youtube:active {
  background-position: 3px -1473px;
  background-color: #5496bd;
}

.icon-academy-center {
  position: relative;
  width: 195px;
  height: 40px;
  margin: 0 auto;
  margin-top: 41px;
  text-align: left;
}

.icon-academy-text {
  vertical-align: middle;
}

.icon-academy {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 113px;
  height: 39px;
  background-image: url("../img/sprite-full.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;
}

.icon-academy:hover { background-position: -10px -128px; }

.icon-academy:active { background-position: -10px -69px; }

.catalog-header {  min-height: 273px; }

.catalog-form {
  width: 88%;
  margin: 0 auto;
}

.filters {
  width: 100%;
  min-height: 164px;
  padding: 26px 0;
  background: url("../img/filter-background.jpg");
  color: #ffffff;
}

.infrastructure {
  width: 24.2%;
  float: left;
}

.title-filters {
  margin-bottom: 25px;
  margin-top: 0;
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

input[type="checkbox"] { display: none; }

.table {
  position: relative;
  display: block;
  margin-left: 39px;
  margin-bottom: 24px;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.table:last-child { margin-bottom: 0; }

.table::before {
  content: " ";
  position: absolute;
  left: -39px;
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/sprite-full.png");
  background-repeat: no-repeat;
  background-position: -10px -600px;
}

input[type="checkbox"]:checked + .table::before {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/sprite-full.png");
  background-repeat: no-repeat;
  background-position: -10px -642px;
}

input[type="checkbox"]:disabled:checked + .table:before  {  background-position: -10px -684px; }

input[type="checkbox"]:disabled + .table:before { background-position: -10px -726px; }

.filter-range {
  float: right;
  width: 327px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  width: 316px;
  height: 32px;
  margin-left: 8px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 61px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  margin-top: 5px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover { background: #1c4f80; }

.range-toggle-min { left: 10px; }

.range-toggle-max { left: 80%; }

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 31px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.head {
  width: 88%;
  min-height: 21px;
  padding: 30px 0;
  padding-bottom: 26px;
  margin: 0 auto;
}

.head h2{
  margin: 0;
  margin-right: 3px;
}

.line {
  width: 20.5%;
  float: left;
  list-style: none;
}

.line:nth-child(2) { margin-left: 30px; }

.number {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.ref-sort {
  padding-top: 5px;
  color: #cacaca;
  text-decoration: none;
  font-size: 12px;
  font-family: "PT Sans",Arial,sans-serif;
  line-height: 18px;
  font-weight: 400;
  border-bottom:  1px dotted #81b3d2;
}

.sort a.ref-sort:hover {
  color: #bad3e5;
  border-bottom:  1px dotted #81b3d2;
}

.sort a.ref-sort.active {
  color: #000000;
  border: none;
}

.sort a.ref-sort:active {
  color: #81b3d2;
  border: none;
}

.sort-list {  padding: 0; }

.sort {
  width: 402px;
  float: left;
  margin-left: 4.5%;
}

.title-sort {
  display:block;
  padding-top: 5px;
  font-size: 12px;
  font-family: "PT Sans",Arial,sans-serif;
  line-height: 18px;
  font-weight: 400;
}

.arrows {
  position: relative;
  float: right;
  min-height: 20px;
  width: 5%;
  margin-top: 10px;
}

.ref-arrow-down {
  position: absolute;
  background-image: url("../img/sprite-full.png");
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  background-position: -10px -217px;
  right: 0;
}

.ref-arrow-down:hover { background-position: -10px -277px; }

.ref-arrow-down:active { background-position: -10px -247px; }

.ref-arrow-up {
  position: absolute;
  right: 22px;
  width: 13px;
  height: 13px;
  background: url("../img/sprite-full.png") no-repeat;
  background-position: -10px -307px;
}

.ref-arrow-up:hover { background-position: -10px -367px; }

.ref-arrow-up:active { background-position: -10px -337px; }

.rate-row {
  min-height: 90px;
  padding: 30px 71px;
  border: 1px solid #e5e5e5;
}

.rate-row:first-child,
.rate-row:nth-child(2) { border-bottom: none; }

.left { float: left; }

.right { float: right; }

.value {
  position: relative;
  float: right;
}

.rating {  margin-left: 30px; }

.title-rating {
  margin: 0;
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.title-rating:hover { color: #81b3d2; }

.title-rating:active { color: #cacaca; }

.text-catalog { width: 183px; }

.refer-catalog {
  margin-top: 10px;
  width: 300px;
}

.refer-catalog a {
  display: inline-block;
  padding: 3px 18px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
}

.reserve {
  margin-left: 3px;
  background-color: #766357;
}

.reserve:hover { background-color: #604e43; }

.reserve:active {
  background-color: #503e33;
  color: #928a85;
}

.content { background-color: #81b3d2; }

.content:hover { background-color: #669ec0; }

.content:active {
  background-color: #5496bd;
  color: #85b0cd;
}

.stars {
  position: relative;
  width: 90px;
  height: 17px;
}

.stars::before {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/sprite-full.png");
  background-repeat: no-repeat;
}

.four-stars::before {
  width: 89px;
  height: 17px;
  background-position: -10px -846px;
}

.two-stars::before {
  width: 42px;
  height: 17px;
  -webkit-transform: translate(4px,-10px);
          transform: translate(4px,-10px);
  background-position: -10px -1417px;
}

.three-stars::before {
  width: 65px;
  height: 17px;
  -webkit-transform: translate(-21px,-10px);
          transform: translate(-21px,-10px);
  background-position: -10px -1310px;
}

.text-value {
  margin-top: 59px;
  padding: 5px 15px;
  background-color: #f2f2f2;
}

.catalog-footer {
  position: relative;
  width: 100%;
  margin: 0;
}

.sprite {
    background-image: url("../img/sprite-full.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-academy-logo {
    width: 113px;
    height: 39px;
    background-position: -10px -10px;
}

.sprite-academy-logo-active {
    width: 113px;
    height: 39px;
    background-position: -10px -69px;
}

.sprite-academy-logo-hvr {
    width: 113px;
    height: 39px;
    background-position: -10px -128px;
}

.sprite-arrow-active-no-hvr {
    width: 11px;
    height: 10px;
    background-position: -10px -187px;
}

.sprite-arrow-down {
    width: 11px;
    height: 10px;
    background-position: -10px -217px;
}

.sprite-arrow-down-active {
    width: 11px;
    height: 10px;
    background-position: -10px -247px;
}

.sprite-arrow-down-hvr {
    width: 11px;
    height: 10px;
    background-position: -10px -277px;
}

.sprite-arrow-up {
    width: 11px;
    height: 10px;
    background-position: -10px -307px;
}

.sprite-arrow-up-active {
    width: 11px;
    height: 10px;
    background-position: -10px -337px;
}

.sprite-arrow-up-hvr {
    width: 11px;
    height: 10px;
    background-position: -10px -367px;
}

.sprite-background-bottom {
    width: 1200px;
    height: 57px;
    background-position: -10px -397px;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -10px -474px;
}

.sprite-calendar-active {
    width: 21px;
    height: 22px;
    background-position: -10px -516px;
}

.sprite-calendar-hvr {
    width: 21px;
    height: 22px;
    background-position: -10px -558px;
}

.sprite-checkbox {
    width: 22px;
    height: 22px;
    background-position: -10px -600px;
}

.sprite-checkbox-checked {
    width: 26px;
    height: 22px;
    background-position: -10px -642px;
}

.sprite-checkbox-checked-disabled {
    width: 26px;
    height: 22px;
    background-position: -10px -684px;
}

.sprite-checkbox-disabled {
    width: 22px;
    height: 22px;
    background-position: -10px -726px;
}

.sprite-facebook {
    width: 10px;
    height: 19px;
    background-position: -10px -768px;
}

.sprite-facebook-dark {
    width: 10px;
    height: 19px;
    background-position: -10px -807px;
}

.sprite-four-stars {
    width: 89px;
    height: 17px;
    background-position: -10px -846px;
}

.sprite-html-academy {
    width: 113px;
    height: 39px;
    background-position: -10px -883px;
}

.sprite-logo {
    width: 138px;
    height: 70px;
    background-position: -10px -942px;
}

.sprite-logo-food {
    width: 74px;
    height: 70px;
    background-position: -10px -1032px;
}

.sprite-logo-gifts {
    width: 64px;
    height: 76px;
    background-position: -10px -1122px;
}

.sprite-logo-house {
    width: 75px;
    height: 72px;
    background-position: -10px -1218px;
}

.sprite-three-stars {
    width: 65px;
    height: 17px;
    background-position: -10px -1310px;
}

.sprite-tweeter {
    width: 17px;
    height: 15px;
    background-position: -10px -1347px;
}

.sprite-tweeter-dark {
    width: 17px;
    height: 15px;
    background-position: -10px -1382px;
}

.sprite-two-stars {
    width: 42px;
    height: 17px;
    background-position: -10px -1417px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -10px -1454px;
}

.sprite-youtube-dark {
    width: 20px;
    height: 16px;
    background-position: -10px -1490px;
}
