body  {
 font-size: 14px;
 font-weight:;
 line-height 26px:
 font-family: PTSans;
 color:
 margin: 0;
 padding: 0;
}
h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  font-family: PTSans;
  color:
}
h2 {
  font-size:;
  font-weight:;
  line-height:
  font-family: PTSans;
  color:
}
.container {
  width: 93.75%;
  margin: 0 auto;
  background-color: yellow;
}
.main-header {
  min-height: 565px;
  background-color:blue;

}
.navigation {
  min-height: 57px;
  background-color: yellow;
}
.user {
  float: right;
}
.promo {
  min-height: 216px;
  background-color: green;
}
.reasons-row {
  min-height: 256px;
  background-color: yellow;
}
